.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 165px;
}

.todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: rgb(255, 208, 0);
    color: firebrick;
    border: 2px solid rgb(255, 208, 0);
}

.todoListMain .header button:hover {
    cursor: pointer;
    background-color: yellow;
    border: 2px solid rgb(255, 0, 0)
}